/* Ensure the body and html take the full height */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px; /* base font-size for rem calculations */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Container for the full screen layout */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
